body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
}

.header {
  height: 50px;
  z-index: 2;
  text-align: center;
  padding: -1px 0px;
  text-transform: uppercase;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.error {
  color: #ef4a4a;
  margin: 7px 0;
}

/* SEARCH AND CREDETS */
.light {
  margin: 0 auto;
  padding: 25px;
  width: 50%;
}

.light input.inp {
  border: 1px solid #0CACE8;
  float: left;
  height: 35px;
  padding: 4px;
  width: 70%;
}

input.submit,
button.submit,
button[type="submit"] {
  background: none repeat scroll 0 0 #0CACE8;
  border: medium none;
  color: #FFFFFF;
  cursor: pointer;
  height: 45px;
  padding: 5px 20px;
  text-transform: uppercase;
}

/* TABEL SECTION */
table {
  width: 100%;
  table-layout: fixed;
  margin-top: 50px;
  padding: 10px;
}

.tbl-header {
  background-color: #0CACE8;
}

th {
  padding: 20px 15px;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}

td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  border-bottom: solid 1px rgba(0, 0, 0, 1);
}